* {
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 0 3rem;
  background: orange;
  width: 1440px;
  height: 900px;
}

.square {
  position: relative;
  background: white;
  width: 300px;
  height: 300px;
  box-shadow: 3px 7px 43px 7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 7px 43px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 7px 43px 7px rgba(0, 0, 0, 0.75);
  border-radius: 33px 33px 33px 33px;
  -webkit-border-radius: 33px 33px 33px 33px;
  -moz-border-radius: 33px 33px 33px 33px;
  transition-duration: 0.8s;
}

.square:hover {
  position: relative;
  background: white;
  width: 300px;
  height: 600px;
  box-shadow: 3px 7px 43px 7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 7px 43px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 7px 43px 7px rgba(0, 0, 0, 0.75);
  border-radius: 33px 33px 33px 33px;
  -webkit-border-radius: 33px 33px 33px 33px;
  -moz-border-radius: 33px 33px 33px 33px;
}

.parapraph {
  position: absolute;
  visibility: hidden;
  top: 300px;
  text-align: center;
  transition: ease-in-out;
}

.square:hover .parapraph {
  visibility: visible;
  transition-delay: 0.5s;
}
