:root {
  --clr-primary: #ffa500;
  --clr-secondary: rgb(204, 198, 198);
  --clr-text-primary: rgb(42, 40, 51);
  --clr-text-secondary: rgb(70, 70, 70);
  --clr-light: white;
}

* {
  font-size: 16px;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-text-primary);
}

p {
  color: var(--clr-text-secondary);
  text-align: justify;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

.nav-container {
  background-image: url("../Foto/background.jpg");
  background-position: 70% 20%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
  height: 600px;
}

.main-container {
  margin: 1rem 5rem;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(12, 1fr);
}

.navigation ul {
  display: flex;
  gap: 5rem;
  justify-content: flex-end;
}

.navigation ul a {
  color: var(--clr-text-primary);
  font-weight: bold;
  transition-duration: 0.8s;
  padding: 0 6px;
}

.navigation ul a:hover {
  color: var(--clr-light);
  font-weight: bold;
  background-color: var(--clr-primary);
  padding: 0 6px;
  border-radius: 10%;
}

.heading {
  padding: 0;
  width: max-content;
}

.nav-heading {
  color: var(--clr-text-primary);
  font-size: 1.5rem;
  letter-spacing: 3px;
}

span {
  color: var(--clr-primary);
  font-weight: 900;
}

.heading-description {
  position: relative;
  top: 100px;
  display: grid;
  align-content: center;
  grid-row: span 11;
}

.self-description-heading {
  color: var(--clr-light);
  font-size: 2rem;
  letter-spacing: 3px;
  transition-duration: 0.8s;
  padding: 0;
  width: max-content;
}

.self-description-heading:hover {
  color: var(--clr-primary);
  font-size: 2rem;
  letter-spacing: 3px;
}

.judul {
  color: var(--clr-text-primary);
  font-size: 2rem;
  text-align: center;
  margin-top: 100px;

  padding: 0.25em;
}

.about__content {
  display: flex;
  gap: 2em;
  margin-top: 100px;
}

.about__content img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

section {
  margin-top: 100px;
}

.skill-container {
  display: flex;
  gap: 80px;
  justify-content: center;
  margin-top: 100px;
}

.skill__ {
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 20px;
  width: 500px;
  border-right: 1px solid var(--clr-text-secondary);
  border-bottom: 1px solid var(--clr-text-secondary);
  transition-duration: 0.8s;
}

.skill__:hover {
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 20px;
  width: 500px;
  border-right: 1px solid var(--clr-text-secondary);
  margin-top: -50px;
}

.icon {
  display: flex;
  justify-content: center;
}

.icon img {
  max-width: 60px;
}

.percent h2 {
  text-align: center;
  font-size: 3rem;
}

.skill-name {
  text-align: center;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 200px;
}

.portfolio__ {
  display: grid;
  justify-content: center;
  align-content: center;
  position: relative;
  background-color: var(--clr-secondary);
  border-radius: 40px 40px 40px 40px;
  -webkit-border-radius: 40px 40px 40px 40px;
  -moz-border-radius: 40px 40px 40px 40px;
  width: 250px;
  height: 250px;
  gap: 20px;
  transition-duration: 0.8s;
}

.portfolio__:hover {
  height: 600px;
  border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
}

.portfolio__content {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;
  top: 80px;
  transition-duration: 0.8s;
}
.portfolio__:hover .portfolio__content {
  transform: scale(2);
}

.portfolio__content img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.portfolio__heading {
  margin-top: 50%;
}

.portfolio__:hover .portfolio__heading {
  margin-top: 60%;
}

.portfolio__ h3 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: var(--clr-text-primary);
}

.portfolio__description {
  font-size: 0.8rem;
  top: -400px;
  padding: 20px;
  visibility: hidden;
  transition: ease-in-out 0.4s;
  color: var(--clr-text-secondary);
}

.portfolio__:hover .portfolio__description {
  margin-top: -20px;
  visibility: visible;
  transition-delay: 0.4s;
  padding: 20px;
}

.contact {
  margin-top: 200px;
  background-color: var(--clr-text-secondary);
  height: 300px;
  overflow: auto;
}

.contact-me {
  color: var(--clr-light);
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 40px;
}

.social-media-container {
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
  transition-duration: 0.8s;
}

.social-media-container:hover {
  margin-top: 20px;
}

.logo {
  display: flex;
  justify-content: center;
}

.name h5 {
  color: var(--clr-light);
  font-size: 0.8rem;
}

.logo img {
  width: 30px;
  height: 30px;
}

.sertifikat-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.sertifikat__ {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: var(--clr-secondary);
  border-radius: 41px 41px 41px 41px;
  -moz-border-radius: 41px 41px 41px 41px;
  -webkit-border-radius: 41px 41px 41px 41px;
  border: 0px solid #000000;
  -webkit-box-shadow: 0px 0px 38px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 38px 7px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 38px 7px rgba(0, 0, 0, 0.75);
  width: 250px;
  height: 250px;
  transition-duration: 0.8s;
}

.sertifikat__:hover {
  -webkit-box-shadow: 0px 0px 38px 7px var(--clr-primary);
  -moz-box-shadow: 0px 0px 38px 7px var(--clr-primary);
  box-shadow: 0px 0px 38px 7px var(--clr-primary);
  width: 250px;
}

.sertifikat__:hover .sertifikat__judul {
  visibility: hidden;
}

.sertifikat__:hover .sertifikat__gambar img {
  transform: scale(1.5);
  width: 100%;
}

.sertifikat__gambar img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  transition: 0.8s ease-in-out;
}

.sertifikat__judul {
  display: grid;
  justify-content: center;
}

.sertifikat__judul h1 {
  font-size: 1.5rem;
  color: var(--clr-text-primary);
}
